# DIMS.FARM REST API example

In [23]:
import os
import json

import pandas as pd
from requests import HTTPError

from watobs.datafarm import DatafarmRepository

api_key = os.getenv("DATAFARM_API_KEY")
assert api_key is not None

### Connect to DIMS.FARM REST API

In [24]:
repo = DatafarmRepository(api_key)
repo.connect()

### List available time series

In [25]:
time_series_list = repo.list_time_series()
time_series_list.tail()

,ID,EntityID,Touched,IDName,IDDescription,LocationID,TimeSeriesParameterID,TimeSeriesMediaID,TimeSeriesUnitID,TimeSeriesDataTypeID,TimeSeriesDatasourceID,TimeSeriesTypeID,TimeSeriesStatusID,TimeSeriesDataProviderID,TimeSeriesDataProviderArgument,DataExpectedCount,DataArchiveAfter,DataDeleteAfter
GUID,,,,,,,,,,,,,,,,,,
{35D46EDD-C352-11ED-B2F7-1831BF2DC749},2087,TNWB_wind_RVO-FUGRO_unfiltered_WS-120,2023-03-20 18:25:13,TNWB_wind_RVO-FUGRO_unfiltered_WS-120,Wind speed,TNWB,WS,wind,m/s,Unknown,,RVO-FUGRO,unfiltered,,,NaN,NaN,NaN
{35D46EDF-C352-11ED-B2F7-1831BF2DC749},2088,TNWB_wind_RVO-FUGRO_unfiltered_WS-130,2023-03-20 18:25:14,TNWB_wind_RVO-FUGRO_unfiltered_WS-130,Wind speed,TNWB,WS,wind,m/s,Unknown,,RVO-FUGRO,unfiltered,,,NaN,NaN,NaN
{35D46EE1-C352-11ED-B2F7-1831BF2DC749},2089,WHI_waves_CMEMS_unfiltered_Hm0,2023-03-20 18:25:14,WHI_waves_CMEMS_unfiltered_Hm0,Spectral significant wave height,WHI,Hm0,waves,m,Unknown,,CMEMS,unfiltered,,,NaN,NaN,NaN
{3C93FFDB-C352-11ED-B2F7-1831BF2DC749},2090,WHI_waves_CMEMS_unfiltered_Tz,2023-03-20 18:25:15,WHI_waves_CMEMS_unfiltered_Tz,Average zero crossing wave period (Tz),WHI,Tz,waves,s,Unknown,,CMEMS,unfiltered,,,NaN,NaN,NaN
{7B4D3518-EE55-11ED-B2FB-1831BF2DC749},2091,testapi.insert,2023-05-25 12:21:41,testapi.insert,,,,,,Unknown,,,,,,NaN,NaN,NaN

In [36]:
repo.get_statistics(time_series_list['EntityID'].iloc[-10:])

                                           First       Last  DailyCount
Name
TNWB_wind_RVO-FUGRO_unfiltered_WS-70  2019-06-19 2021-02-16         144
TNWB_wind_RVO-FUGRO_unfiltered_WS-80  2019-06-19 2021-02-16         144
TNWB_wind_RVO-FUGRO_unfiltered_WS-90  2019-06-19 2021-02-16         144
TNWB_wind_RVO-FUGRO_unfiltered_WS-100 2019-06-19 2021-02-16         144
TNWB_wind_RVO-FUGRO_unfiltered_WS-110 2019-06-19 2021-02-16         144
TNWB_wind_RVO-FUGRO_unfiltered_WS-120 2019-06-19 2021-02-16         144
TNWB_wind_RVO-FUGRO_unfiltered_WS-130 2019-06-19 2021-02-16         144
WHI_waves_CMEMS_unfiltered_Hm0        2011-05-19 2022-10-01          48
WHI_waves_CMEMS_unfiltered_Tz         2011-05-19 2022-10-01          48
testapi.insert                        2014-12-01 2023-05-13         144

### Get time series data

In [27]:
data = repo.get_data(
    time_series_id="testapi.insert",
    ascending=True,
    limit=10,
)
data

                      Data QualityTxt
RefDateTimeRef
2022-09-29 01:26:43  637.0         ok
2022-09-29 01:26:48  637.0         ok
2022-09-29 01:26:48  637.0         ok
2022-09-29 01:56:41  637.0         ok
2022-09-29 01:56:46  637.0         ok
2022-09-29 01:56:46  637.0         ok
2022-09-29 02:26:43  637.0         ok
2022-09-29 02:26:48  637.0         ok
2022-09-29 02:26:48  637.0         ok
2022-09-29 02:56:41  637.0         ok

### Insert time series data

Here we prepare some data to insert in form of a dataframe.

In [28]:
import random

n = 5
timestamps = [pd.Timestamp("1900-01-01") + pd.Timedelta(days=i) for i in range(n)]
insert_data = pd.DataFrame({
    "TimeStamp": timestamps,
    "Data": [random.random() for _ in range(n)],
    "Quality": ["ok"] * n,
})
insert_data.loc[0, "Data"] = None
insert_data

   TimeStamp      Data Quality
0 1900-01-01       NaN      ok
1 1900-01-02  0.210530      ok
2 1900-01-03  0.595534      ok
3 1900-01-04  0.746095      ok
4 1900-01-05  0.335742      ok

To insert the data we use the `insert_data` method:

In [29]:
try:
    res = repo.insert_data("testapi.insert", insert_data, bulk_insert=True)
except HTTPError as e:
    print(e)

In [30]:
res.json()

{'ItemsWritten': 5}

In [31]:
data = repo.get_data("testapi.insert")
data.head(10)

                           Data QualityTxt
RefDateTimeRef
1900-01-01 00:00:00         NaN         ok
1900-01-02 00:00:00    0.210530         ok
1900-01-03 00:00:00    0.595534         ok
1900-01-04 00:00:00    0.746095         ok
1900-01-05 00:00:00    0.335742         ok
2022-09-29 01:26:43  637.000000         ok
2022-09-29 01:26:48  637.000000         ok
2022-09-29 01:26:48  637.000000         ok
2022-09-29 01:56:41  637.000000         ok
2022-09-29 01:56:46  637.000000         ok

We can peek at the json body for the call to the API. The NaN value is represented as {"N": 1, "V": 0}.

In [32]:
json.loads(res.request.body)

{'BulkInsert': True,
 'TimeSeriesName': 'testapi.insert',
 'TimeStamp': ['1900-01-01T00:00:00.000Z',
  '1900-01-02T00:00:00.000Z',
  '1900-01-03T00:00:00.000Z',
  '1900-01-04T00:00:00.000Z',
  '1900-01-05T00:00:00.000Z'],
 'Data': [{'N': 1, 'V': 0.0},
  {'N': 0, 'V': 0.21052991073823468},
  {'N': 0, 'V': 0.5955342683888699},
  {'N': 0, 'V': 0.7460950706926194},
  {'N': 0, 'V': 0.3357418658030339}],
 'QualityLevel': [0, 0, 0, 0, 0]}

### Update qualities

In [37]:

qualities = list(repo.qualities['EntityID'])
print(qualities)

['ok', 'error', 'critical', 'warning', 'estimated', '-', '1001']

In [38]:

repo.update_data_quality("testapi.insert", timestamps=timestamps, qualities=qualities[:len(timestamps)])
data = repo.get_data("testapi.insert", limit=10)
data

                           Data QualityTxt
RefDateTimeRef
1900-01-03 00:00:00    0.595534   critical
1900-01-04 00:00:00    0.746095    warning
1900-01-05 00:00:00    0.335742  estimated
2022-09-29 01:26:43  637.000000         ok
2022-09-29 01:26:48  637.000000         ok
2022-09-29 01:26:48  637.000000         ok
2022-09-29 01:56:41  637.000000         ok
2022-09-29 01:56:46  637.000000         ok
2022-09-29 01:56:46  637.000000         ok
2022-09-29 02:26:43  637.000000         ok

### Delete data

Either delete in range or delete specific values.

In [34]:
start , end = timestamps[:2]
print(f"Deleting data in range [{start}, {end})\n")
res = repo.delete_data("testapi.insert", start=start, end=end)
data = repo.get_data("testapi.insert", limit=10)
data

Deleting data in range [1900-01-01 00:00:00, 1900-01-02 00:00:00)

                           Data QualityTxt
RefDateTimeRef
1900-01-03 00:00:00    0.595534   critical
1900-01-04 00:00:00    0.746095    warning
1900-01-05 00:00:00    0.335742  estimated
2022-09-29 01:26:43  637.000000         ok
2022-09-29 01:26:48  637.000000         ok
2022-09-29 01:26:48  637.000000         ok
2022-09-29 01:56:41  637.000000         ok
2022-09-29 01:56:46  637.000000         ok
2022-09-29 01:56:46  637.000000         ok
2022-09-29 02:26:43  637.000000         ok

In [39]:
timestamps = data.index[:3]
repo.delete_data("testapi.insert", timestamps=timestamps)
data = repo.get_data("testapi.insert", limit=10)
data

                      Data QualityTxt
RefDateTimeRef
2022-09-29 01:26:43  637.0         ok
2022-09-29 01:26:48  637.0         ok
2022-09-29 01:26:48  637.0         ok
2022-09-29 01:56:41  637.0         ok
2022-09-29 01:56:46  637.0         ok
2022-09-29 01:56:46  637.0         ok
2022-09-29 02:26:43  637.0         ok
2022-09-29 02:26:48  637.0         ok
2022-09-29 02:26:48  637.0         ok
2022-09-29 02:56:41  637.0         ok

### Using the context manager

In [16]:

with DatafarmRepository(api_key) as repo:
    data = repo.get_data(
        time_series_id="testapi.insert",
        limit=2
    )
data

                         Data QualityTxt
RefDateTimeRef
2012-07-04 15:41:13  0.631634         ok
2013-08-29 15:41:13       NaN         ok